html{
    overflow: scroll;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.wrapper{
   /* max-width: auto;
    max-height:auto;*/
    background-color: skyblue;
    box-shadow: 2px 2px 8px gray;
    margin:auto;
    padding-bottom: 4%;

}

.wrapper2{
    /*max-width: auto;
    max-height:auto;*/
    background-color: skyblue;
    box-shadow: 2px 2px 8px gray;
    margin:auto;

}

/*quiz appending code*/
#sub{
    size:auto;
    text-align: center;
    
}

.submit_btn{
    font-size: x-large;
    background-color: honeydew;
    color: brown;
    text-emphasis: inherit;
}
#marks{
    font-size: 120%;
    font-weight: bold;
    color: blue;
}

/*faq javascript and css code*/
h4 {
	font-size: 160%;
	padding: .25em 0 .25em 25px;
	background: url(assets/plus.png) no-repeat left center;
}
h4.minus {
	background: url(assets/minus.png) no-repeat left center;
}

.faq-div{
    display: none;
}
.faq-p {
	padding-bottom: .25em;
    padding-left: 25px;
    font-size: 110%;
}
.faq-a {
    color: black;
    text-decoration: none; 
}
.faq-a:focus, a:hover {
	color: blue;
}
/*faq css end*/



/*interaction js and css code*/
#container2{
    background-color: snow;
    width: 70%;
    margin-left: 26%;
}

#container1{
    background-color: snow;
    margin-left: 20%;

}

.flex-container {
    display:flex;
    flex-flow:row wrap; /* if your layout never wraps to a new line, make sure the flex-wrap property is set to "wrap" */
  }

  #container1 {
    order:-1;
    margin-bottom: 5%;
  }


  #container2 {
    flex:2 0 0;
    
  }

#usrform{
    padding-top: 5%;
    color: cornflowerblue;
    font-size: 132%;
    font-weight: bold;
}

#name1{
    margin-left: 12%;
}
#subject1{
  margin-left: 6%;
}
#q1{
    margin-left: 4.7%;
}
#name1, #subject1, #q1{
    width: 24%;
}

.l1{
  margin-left: 20%;
}
#b1{
  margin-left: 26%;  
}
#b2{
  margin-left: 12%;  
}
#text1{
    margin-left: 23%;
    margin-bottom: 7%;
    margin-top: 5%;
    font-size: 80%;
}
#text2{
    font-size: 160%;
}
.wrapper{
    margin-bottom: 4%;
    
}

#b1, #b2{
    height: 30%;
    text-align: center;
    color: brown;
    width: 15%;
    font-size: 100%;
    margin-top: 3%;
    font-weight: bold;
}
  




/*end of interaction js and css code*/

main{
    width:80%;
    
}
main1{
    width:80%;
}




.main_box{
    background-color: snow;
    width: 70%;
    margin-left: 27%;
}


main h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 260%;
    color: rgb(150, 7, 7);
    text-align: center;
    margin-left: 23%;
}
.main1 h2{
    font-style: inherit;
    font-size: 230%;
    text-align: center;
    color: brown;
    margin-top: 20px;
    padding-top: 2%;
}
main ul{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 220%;
    padding-left: 15%;
    padding-top: 4%;
    

}
main li{
    padding-bottom: 1.8%;
    list-style: none;
} 
#index-subjects{
    margin-top: 5%;
    padding-bottom: 3.5%;
}


.start{
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10%;
}
.qNo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 200%;
    font-weight: bold;
}
.question{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 130%;
    font-weight: bold;
    padding-left: 2%;
}
.answer{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 125%;
    list-style: none;
}
.start{
    background-image: url("../assets/ques1-back.jpg");
    padding-bottom: 1%;
    padding-top: 1.3%;
    margin-bottom: 5%;

}
.grid_container{
    display: grid;
    grid-template-columns: auto auto auto;
    
}
.grid_item {
    /*background-color: rgba(255, 255, 255, 0.8);*/
    border: 0.0001px  rgba(0, 0, 0, 0.8);
    padding: 0.5%;
    
  }
  


  
  
 


  dl{
      margin-left:13%;
      padding-bottom: 4%;
      padding-top: 7%;
      margin-right: 13%;
      margin-top: 6%;
  }
  dt{
      font-weight: bold;
      font-size: 120%;
      margin-bottom: 1%;

  }
  dd{
      font-size: 110%;
      margin-bottom: 4%;
  }





  @media screen and (max-width: 1000px ){
    

      .first{
           font-size: 14px;
      }

      header{
        /* background-image: linear-gradient( to bottom, white 0% , Skyblue 100%);*/
         text-align: center;
         
         font-style: italic;
         width:900px;
         height :80px;
      }
      .wrapper{
          width:1000px;
          padding-top: 20px;
          height: 2610px;
      }
      .wrapper2{
          width:1000px;
          padding-top:20px;
          height:2610px;
      }
      #text2{
          columns: 10;
      }
      .container1{
          width: 40%;
      }
     #name1{
         margin-left: 18%;
     }
     #subject1{
         margin-left: 7%;
     }
     


  }





  @media screen and (max-width: 600px ){
    

    .first{
         font-size: 14px;
    }

    header{
      /* background-image: linear-gradient( to bottom, white 0% , Skyblue 100%);*/
       text-align: center;
       
       font-style: italic;
       width:900px;
       height :80px;
    }
    .wrapper{
        width:600px;
        height: 1800px;
        padding-top: 20px;
        
    }
    .wrapper2{
        width:600px;
        padding-top:20px;
        
    }
    #text2{
        columns: 5;
    }
    .container1{
        width: 20%;
    }
    #b1,#b2{
        width: fit-content;
    }
    #name1,#subject1,#q1{
        margin-left: 40%;
    }
    
  


}