.wrapper{
    max-width: auto;
    max-height:auto;
    background-color: skyblue;
    box-shadow: 2px 2px 8px gray;
    margin:auto;
    padding-bottom: 4%;
}
.main_box{
    background-color: snow;
    width: 70%;
    margin-left: 27%;
}



/* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 87.5%;
	width: 650px;
	margin: 0 auto;
	padding: 15px 25px;	
	border: 3px solid blue;
}*/
h2 { 
	font-size: 150%;
}
h4 {
	font-size: 120%;
	padding: .25em 0 .25em 25px;
	background: url(assets/plus.png) no-repeat left center;
}
h4.minus {
	background: url(assets/minus.png) no-repeat left center;
}
a {
    color: black;
    text-decoration: none; 
}
a:focus, a:hover {
	color: blue;
}
div {
	display: none;
}

p {
	padding-bottom: .25em;
	padding-left: 25px;
}
body{
	background-color: red;
}